{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}- Order Bag{% endblock %}

{% block content %}

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <br>
                <h5 class="logo-font font-weight-bold text-black">Shopping Bag</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {% include "bag/checkout-buttons.html" %}
                                    <p class="text-muted mb-5 pt-2">A summary of your bag contents is below</p>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-group list-group-flush text-center">
                            {% for item in bag_items %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            {% include "bag/product-info.html" %}
                                            {% include "bag/product-image.html" %}
                                        </div>
                                        <div class="col-6 order-sm-last">
                                        <br>
                                        <h6 class="my-0">Price Each: {{ item.product.price }} kr</h6>
                                        <br>
                                        <h6><strong>Subtotal: </strong>{{ item.product.price| calc_subtotal:item.quantity }} kr</h6>
                                        <br>
                                        {% include "bag/quantity-form.html" %}
                                        <br>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="table-responsive d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col" class="d-none d-sm-table-cell">Image</th>
                                    <th scope="col">Info</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="py-3 w-25 d-none d-sm-table-cell">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.product.price }} kr</p>
                                    </td>
                                    <td class="py-3 w-25 text-left">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.product.price| calc_subtotal:item.quantity }} kr</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-2 text-center">
                                    <hr>
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 text-center">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Order Some More</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}