{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home page{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row d-flex align-items-center m-lg-5">
            <!-- about note -->
            <div id="about-note" class="col-12 col-md-6 col-lg-4 offset-lg-1 text-center">
                <br class="d-block d-md-none">
                <h5 class="logo-font font-weight-bold text-black text-center">About Us</h5>
                <br>
                <p class="justify-content-center px-2">
                    Tadig is a Persian restaurant with a warm and friendly environment located in Jakobsberg Center.
                    Introducing the Persian signature dishes to the world, with the best service and quality is our
                    top goal.
                    All of our dishes serves with a small pice of tadig, which is a thin crust of slightly browned
                    rice at the bottom of the cooking pot.
                </p>
                <br>
                <h6 class="logo-font font-weight-bold text-center mt-0">
                    Thank you for choosing us.
                </h6>
            </div>
            <!-- carousel -->
            <div id="carouselExampleDark" class="carousel carousel-dark slide d-block col-12 col-md-6 col-lg-4 offset-lg-2"
        data-ride="carousel">
        <!-- carousel indicators -->
        <ol class="carousel-indicators px-5">
            {% for product in products %}
                {% if forloop.first %}
                    <li data-target="#carouselExampleDark" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleDark" data-slide-to="{{forloop.counter0}}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner image-container">
            <!--                                  carousel item active -->
            {% for product in products %}
                {% if forloop.first %}
                    <div class="carousel-item active data-interval=" 500">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}" />
                                <div class="carousel-caption d-block">
                                    <p class="text-white bg-black d-inline">{{ product.name }}</p><br>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}" />
                                <div class="carousel-caption d-block">
                                    <p class="text-white bg-black d-inline">{{ product.name }}</p><br>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <!--                                     carousel item -->
                    <div class="carousel-item">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}" />
                            <div class="carousel-caption d-block">
                                <p class="text-white bg-black d-inline">{{ product.name }}</p><br>
                            </div>
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}" />
                            <div class="carousel-caption d-block">
                                <p class="text-white bg-black d-inline">{{ product.name }}</p><br>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- carousel prev and next btns -->
            <button class="carousel-control-prev ml-3" type="button" data-target="#carouselExampleDark" data-slide="prev">
                <span class="prev-icon"><i class="fas fa-angle-left"></i></span>
                <span class="d-none">Previous</span>
            </button>
            <button class="carousel-control-next mr-3" type="button" data-target="#carouselExampleDark" data-slide="next">
                <span class="next-icon"><i class="fas fa-angle-right"></i></span>
                <span class="d-none">Next</span>
            </button>
            </div>
        </div>
</div>

{% endblock %}