{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Profile{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

<!-- {% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} -->

{% block content %}

        <div class="row">
            <div class="col">
                <h5 class="logo-font font-weight-bold text-black text-center mt-4">My Profile</h5>
                <hr class="w-100">
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}