body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Raleway';
    color: #555;
    font-weight: 500;
}

hr{
    width: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong{
    font-family: 'Open+Sans';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Raleway';
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.carousel-item img {
    background-position: center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    height: 400px;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 40%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 30px;
}

.carousel-indicators {
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    background: black;
    opacity: .5;
}



.carousel-control-prev-icon,
.carousel-control-next-icon{
    padding: 10px;
}


.carousel-caption{
    opacity: .5;
    margin: 0 auto;
    width: max-content;
}

.inline{
    display: inline;
}


.bg-black{
    background: black;
}

footer {
    bottom: 0;
    margin: 0;
    padding: 0;
    clear: both;
    position: relative;
    height: 190px;
    margin-top: -190px;
}

.fas,
.fab{
    line-height: 2 !important;
    font-weight: 900;
    font-size: 1.33333em;
    color: black;
}

.fa-search{
    color: white;
}

/* -------------------------------- products page */

.img-fluid{
    width: 92% !important;
    margin-right: 4%;
    margin-left: 4%;
}

div.img-div{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.rating{
    display: block;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 144px;
    }

    .product-img{
        height: 300px;
    }
}

@media (min-width:386px) and (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

        .product-img{
        height: 250px;
    }
}

@media (max-width:385px){
    .navbar{
        font-size: 13px;
        padding: 7px;
    }

    .nav-link,
    .navbar-toggler{
        padding-right: 3px;
        padding-left: 3px;
    }

        .header-container {
        padding-top: 70px;
    }

    .logo-font{
        font-size: 15px;
    }

    .product-img{
        height: 200px;
    }
}

@media (max-width:576px){
    .list-group-item:last-child{
        border-bottom: none;
    }
}