/* -------------------------------- general */

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Raleway';
    color: #555;
    word-spacing: 2px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 450px;
}

.header-container {
    padding-top: 150px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 450px;
}

.inline {
    display: inline;
}


.bg-black {
    background: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
strong,
small,
input {
    font-family: 'Open+Sans';
}

i {
    font-family: Awesome 5 Free;
}


::-webkit-scrollbar {
    width: 5px;
}

/* scroll bar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #888;

}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* -------------------------------- base html */

.navbar {
    font-size: 13px;
    padding: 10px;
    justify-content: space-around;
}

.navbar-nav li,
.order-btn {
    white-space: nowrap
}

.nav-link,
.navbar-toggler {
    padding-right: 3px;
    padding-left: 3px;
}

.nav-link:last-child {
    padding-right: 20px;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Raleway' !important;
}

.main-logo-link {
    width: fit-content;
}

/* -------------------------------- index html */

#about-note{
    padding-right: 50px;
    padding-left: 50px;
}

#about-note p {
    text-align: justify;
    text-align-last: center;
}

.carousel-item img {
    background-position: center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    height: 200px;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 25%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background: black;
    color: white;
    width: 0;
    height: 0;
    padding: 10px;
    margin: 45px;
}

#carouselExampleDark{
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 10px;
}

.carousel-caption {
    opacity: .6;
    margin: 0 auto;
    width: max-content;
    bottom: 8%;
    font-size: 12px;
}

/* -------------------------------- product/product_details html */

.list-group-item:last-child {
    border-bottom: none;
}

.product-details-img,
.product-img {
    height: 200px;
}

.quantity-input {
    width: max-content;
    margin: 0 auto;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.img-fluid {
    width: 92% !important;
    margin-right: 4%;
    margin-left: 4%;
}

div.img-div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.rating {
    display: block;
}

/* -------------------------------- bag html */

.update-link,
.remove-item {
    cursor: pointer;
}

.update-form {
    min-width: 80px;
}

.bag-items-img {
    height: 120px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-responsive {
    font-size: 13px;
    font-family: 'Opens+Sans';
}

p span{
    margin-top: 10px;
}

.btn-lg{
    font-size: 17px;
}

.table{
    font-weight: 700;
}

/* -------------------------------- footer html */

.social-note,
.contacts {
    padding: 15px;
}

.fab {
    line-height: 2 !important;
    font-weight: 900;
    font-size: 1.33333em;
    color: black;
}

.contacts li i {
    color: black;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* -------------------------------- Media Queries */

/* on sm */
@media (min-width:576px) and (max-width: 767px) {

    .product-details-img,
    .product-img,
    .carousel-item img {
        height: 350px;
    }



    .carousel-control-next,
    .carousel-control-prev {
        top: 35%;
    }

}

/*screens on md */

@media (min-width:768px) and (max-width: 991px) {

    .product-details-img {
        height: 400px;
    }

    .product-details-img,
    .carousel-item img{
        height: 450px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 40%;
    }
}

/*screens on lg and up */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar {
        height: 70px;
        padding: 0;
        margin: 0;
    }

    .header-container {
        padding-top: 230px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 35%;
    }

    .product-img {
        height: 250px;
    }

    .bag-items-img {
        height: 150px;
    }

    #content-wrap {
        padding-bottom: 400px;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 400px;
    }

    .social-note,
    .contacts {
        line-height: 2;
        padding: 30px;
    }

    .product-details-info,
    #about-note,
    .social-note,
    .contacts {
        line-height: 3;
    }

    .product-details-img,
    .carousel-item img {
        height: 480px;
    }

    #container-wraper{
        padding-top: 3%;
    }
}

/*screens on xxl */
@media (min-width: 1400px){
    .product-img {
        height: 350px !important;
    }
}

/* ipad pro */

@media (min-height: 1350px) {

    #carouselExampleDark,
    .carousel-item img,
    .product-details-img {
        height: 600px;
        padding: 0;
        padding-top: 30px;
    }

    .product-details-info {
        padding-top: 30px;
    }

    #about-note {
        padding-top: 60px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 50% !important;
    }
}