{% load i18n %}

    <div class="row ">
        <div class="col-12 col-sm-6">
            <p class="logo-font font-weight-bold text-black text-center mt-2">Social</p>
            <p class="small social-note text-center">
                {% trans 'Here you can find our social contacts and reviews. Please share your ideas with us.' %}</p>
            <ul class="social-icons list-inline list-unstyled text-center my-0">
                <li class="col"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="col"><a href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="col"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <p class="logo-font font-weight-bold text-black text-center mt-2">Contacts</p>
            <ul class="contacts list-inline list-unstyled text-center my-0">
                <li><i class="fas fa-map-marker-alt"></i> Stockholm, Järfallä, Tornérplatsen 32</li>
                <li><i class="fas fa-phone"></i> 0123 456 789</li>
                <li><i class="fa fa-clock-o"></i> 11 - 22</li>
                <li><i class="fas fa-envelope"></i> tadig_restaurant.example.com</li>
            </ul>
            <hr class="w-50 mb-1 d-block d-sm-none">
        </div>
    </div>
    <div class="row text-center w-100 bg-black text-white p-0 m-0">
        <div class="col-md-12">
            <p class="small mt-2"> Copyright &copy; All rights reserved</p>
        </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <p class="small"> Copyright &copy; All rights reserved</p>
        </div>
    </div>