<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav col-10  offset-md-1 text-center d-flex justify-content-around" aria-labelledby="dropdownMenuButton">
        <li class="col-2 nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="col-2 nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="all-dishes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="col-2 nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=appetizers" id="appetizer-link">
                Appetizers
            </a>
        </li>

        <li class="col-2 nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=mains" id="main-dish-link">
                Main Dishes
            </a>
        </li>

        <li class="col-2 nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products' %}?category=desserts" id="dessert-link">
                Desserts
            </a>
        </li>

        <li class="col-2 nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="beverage-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beverages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-drinks-link">
                <a href="{% url 'products' %}?category=persians" class="dropdown-item">Persian Drinks</a>
                <a href="{% url 'products' %}?category=alcoholics" class="dropdown-item">Alcoholic Drinks</a>
                <a href="{% url 'products' %}?category=warms" class="dropdown-item">Warm Drinks</a>
                <a href="{% url 'products' %}?category=colds" class="dropdown-item">Cold Drinks</a>
            </div>
        </li>
    </ul>
</div>