{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ product.name }} {% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">{{ products.name }}</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-7">
                            <h4>{{ product.name }}</h4>
                            {% if product.category %}
                            <h6>
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    {{ product.category.friendly_name }}
                                </a>
                            </h6>
                            {% endif %}
                            <h6>{{ product.price }} kr</h6>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 img-div">
                            {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="img-fluid product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="img-fluid product-img" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            {% if product.rating %}
                            <small class="text-muted rating"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                5</small>
                            {% else %}
                            <small class="text-muted rating">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}