{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_title %}- {{product.name}} {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-around">
        <div class="col-10 col-md-5 text-center px-0">
            <div class="mb-5 mt-md-5">
                <h5 class="logo-font font-weight-bold text-black text-center">{{ product.name }}</h5>
                <p class="lead mb-0 font-weight-bold">{{ product.price }} kr</p>
                {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                {% if product.avaragereview %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i> {{ product.avaragereview }} / 5</small>
                {% else %}
                    <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger delete" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <p class="mt-3 px-lg-5">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 text-center">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50 quantity-form-btns">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quantity-form-btns">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            </div>
            </form>
        </div>
        <div class="col-10col-md-5 text-center px-0">
            <div class="image-container m-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid details-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center justify-content-around">
        <div class="col-10 col-md-5">
            <form action="{% url 'add_review' product.pk %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <h5 class="logo-font font-weight-bold text-black text-center m-3">Add your comment here.</h5>
                <div class="form-group">
                    <textarea name="comment" rows="5"
                        class="input w-100 border-black rounded-0 textinput textInput form-control" type="text"
                        placeholder="Your Review"></textarea>
                </div>
                <div class="form-group text-center">
                    <div class="input-rating">
                        <strong class="logo-font font-weight-bold text-black text-center">Your Rating</strong>
                        <br>
                        <div class="rating text-center d-flex justify-content-center flex-row-reverse w-100 mt-3">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></i></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></i></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></i></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                        </div>
                    </div>
                    {% if user.id is not None %}
                        <button class="btn btn-black rounded-0 text-uppercase mt-3">Submit</button>
                        {{ review.rating }}
                    {% else %}
                        <br>
                        <p>If you have not created an account yet, then please sign up first to post a review.</p>
                    {% endif %}
                </div>
                <hr class="d-block d-md-none">
            </form>
        </div>
        <div class="col-10 col-md-5 reviews">
            <h5 class="logo-font font-weight-bold text-black text-center m-3">All reviews</h5>
            {% if product.countreview %}
            <h6 class="text-center">{{ product.countreview }} reviews for {{ product.name }}</h6>
            {% else %}
            <h6 class="text-center">No reviews for {{ product.name }} yet!</h6>
            {% endif %}
            {% if product.avaregereview > 0 %}
                <h6 class="text-center">Rating Avarage: {{ product.avaregereview | stringformat:".2f" }}</h6>
            {% else %}
                <h6 class="text-center"></h6>
            {% endif %}
            <hr>
            {% for review in reviews %}
                <div class="reviews-product-details">
                    <div class="d-flex flex-row mb-3 justify-content-center align-items-center text-center">
                        <div class="p-2 col-3">{{ review.user.username }}</div>
                        {% if request.user == review.user %}
                            <small>
                                <a href="{% url 'edit_review' product.pk review.pk %}">Edit</a> |
                                <a class="text-danger delete" href="{% url 'delete_review' product.pk review.pk %}">Delete</a>
                            </small>
                        {% endif %}
                        <div class="p-2 col-3 stars">
                            {% if review.rating == 1 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating == 2 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% elif review.rating == 3 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% elif review.rating == 4 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i>
                            {% elif review.rating == 5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">{{ review.user }} didn't leave any ratings!</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-2 col-10 offset-1 text-center">
                        {% if review.comment %}
                        <p class="card-text">{{ review.comment }}</p>
                        {% else %}
                        <h6 class="card-text">No Comments!</h6>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
$(document).ready(function(){
  $(".delete").click(function(){
    if (!confirm("Do you want to delete")){
      return false;
    }
  });
});
</script>

{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}