{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ product.name }} {% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-12">
                <ul class="list-group list-group-flush pt-4">
                            <!-- content block -->
                    <li class="list-group-item py-0 pb-lg-3 px-0">
                        <div class="row">
                            <!-- product info -->
                            <div class="col-12 col-md-6 product-details-info text-center">
                                <h5 class="logo-font font-weight-bold text-black my-2">{{ product.name }}</h5>
                                {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                {% endif %}
                                <p>{{ product.price }} kr</p>
                                <p>{{ product.description }}</p>
                                {% include "products/quantity-form.html" %}
                                <hr class="d-block d-md-none">
                            </div>
                            <!-- product image -->
                            <div class="col-12 col-md-6 text-center">
                                {% if product.image %}
                                    <img class="img-fluid product-details-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="img-fluid product-details-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                                {% if product.rating %}
                                    <small class="d-block text-muted mt-2 text-center"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                    5</small>
                                {% else %}
                                    <small class="d-block text-muted mt-2 text-cen  ter">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}